# Ignore all .wlf files
*.wlf

# Ignore any file beginning with “wlf”
wlf*

# Ignore all .log files
*.log

# Ignore any file named exactly “transcript”
transcript

# Ignore all .vstf files
*.vstf

# Ignore lib and work directories
lib/
work/
